<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="d3-titanic.css">
<title>D3 Example</title>
</head>
<body>
	<h1>D3 Example</h1>
	<svg class="chart" width="500px" height="500px"></svg>

</body>
</html>

<script type="module" src="d3-titanic-cloud.js"></script>